@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  overscroll-behavior: contain;
}

@layer base {
  :root {
    /* --color-custom-white: 255 255 255;
    --color-bkg: 255 255 255;
    --color-content: 30 41 59;
    --color-accent1: 245 208 254;
    --color-accent2: 153 246 227; */
    
    /* The main theme for now... */
    --color-bkg: 240 245 255;
    --color-custom-white: 255 255 255;
    --color-content: 30 41 59;
    --color-themeText: 30 41 59;
    --color-sidebar: 0 168 235;
    --color-warning: 235 67 0;
    --color-panel-bg: 59 130 246;
    --color-panel-text: 240 245 255;
    --color-panel-active: 174 199 242;
    --color-card-bg: 255 255 255;
    --color-card-text: 30 41 59;
    --color-accent-panel-blue: 123 170 212;
    --color-accent-panel-orange: 207 164 75;
    --color-accent-panel-purple: 185 79 214;
    --color-primary-a0: 235 249 255;
    --color-primary-a10: 23 142 198;
    --color-primary-a20: 29 118 162;
    --color-primary-a30: 31 93 127;
    --color-primary-a40: 29 70 94;
    --color-primary-a50: 24 48 63;
    --color-secondary-a0: 0 168 235;
    --color-secondary-a10: 82 181 238;
    --color-secondary-a20: 120 193 241;
    --color-secondary-a30: 151 205 244;
    --color-secondary-a40: 178 217 247;
    --color-secondary-a50: 205 230 250;
    --color-surface-a0: 222 224 224;
    --color-surface-a10: 189 184 189;
    --color-surface-a20: 138 134 138;
    --color-surface-a30: 90 88 90;
    --color-surface-a40: 46 45 46;
    --color-button-green: 51 235 0;
    --color-button-blue: 0 168 235;
    --color-button-blue-hover: 187 176 217;
    --color-button-red: 194 43 75;
    --color-button-red-hover: 194 43 75;
    --color-button-orange: 235 184 0;
    --color-button-liteblue: 0 168 235;
    --color-button-lime: 0 235 184;
    --color-button-purple: 184 49 234;
  }
  :root[data-theme="light"] {
    --color-bkg: 240 245 255;
    --color-custom-white: 255 255 255;
    --color-content: 30 41 59;
    --color-themeText: 30 41 59;
    --color-sidebar: 0 168 235;
    --color-warning: 235 67 0;
    --color-panel-bg: 59 130 246;
    --color-panel-text: 240 245 255;
    --color-panel-active: 174 199 242;
    --color-card-bg: 255 255 255;
    --color-card-text: 30 41 59;
    --color-accent-panel-blue: 123 170 212;
    --color-accent-panel-orange: 207 164 75;
    --color-accent-panel-purple: 185 79 214;
    --color-primary-a0: 235 249 255;
    --color-primary-a10: 23 142 198;
    --color-primary-a20: 29 118 162;
    --color-primary-a30: 31 93 127;
    --color-primary-a40: 29 70 94;
    --color-primary-a50: 24 48 63;
    --color-secondary-a0: 0 168 235;
    --color-secondary-a10: 82 181 238;
    --color-secondary-a20: 120 193 241;
    --color-secondary-a30: 151 205 244;
    --color-secondary-a40: 178 217 247;
    --color-secondary-a50: 205 230 250;
    --color-surface-a0: 222 224 224;
    --color-surface-a10: 189 184 189;
    --color-surface-a20: 138 134 138;
    --color-surface-a30: 90 88 90;
    --color-surface-a40: 46 45 46;
    --color-button-green: 51 235 0;
    --color-button-blue: 0 168 235;
    --color-button-blue-hover: 187 176 217;
    --color-button-red: 194 43 75;
    --color-button-red-hover: 194 43 75;
    --color-button-orange: 235 184 0;
    --color-button-liteblue: 0 168 235;
    --color-button-lime: 0 235 184;
    --color-button-purple: 184 49 234;
  }
}

@layer components {
  .btn-themeBlue {
    @apply text-white font-semibold py-2 px-8 rounded-lg bg-[#3b82f6] 
    hover:bg-blue-200 border-2 border-[#3b82f6] hover:text-themeText 
    transition-all duration-300 hover:shadow-md cursor-pointer;
  }

  .btn-themeOrange {
    @apply text-white font-semibold py-2 px-8 rounded-lg bg-[#f97316] 
    hover:bg-orange-200 border-2 border-[#f97316] hover:text-themeText 
    transition-all duration-300 hover:shadow-md cursor-pointer;
  }

  .btn-themeGreen {
    @apply text-white font-semibold py-2 px-8 rounded-lg bg-[#10b981] 
    hover:bg-green-200 border-2 border-[#10b981] hover:text-themeText 
    transition-all duration-300 hover:shadow-md cursor-pointer;
  }

  .btn {
    @apply bg-bkg px-8 py-2 rounded-xl shadow-md 
    font-medium transition-all duration-500 cursor-pointer
    border-2 select-none flex justify-center items-center
    hover:bg-panel_active
    hover:text-white
    active:scale-95;
  }

  .btn-base {
    @apply border-2 font-medium text-center
    rounded-lg shadow-md hover:shadow-lg
    px-10 py-2 
    active:shadow-md
    transition-all duration-500 
    cursor-pointer;
  }

  .btn-dialog {
    @apply bg-primary-a30 text-slate-100 font-medium text-center
    rounded-lg shadow-md
    px-10 py-2
    hover:bg-surface-a0/50 hover:text-content hover:brightness-50
    active:shadow-xl active:border
    transition-all duration-500 
    cursor-pointer;
  }
  .btn-green {
    @apply btn-base border-button-green text-content
    hover:bg-button-green/50 hover:text-white
    active:bg-button-green/25;
  }

  .btn-blue {
    @apply btn-base border-button-blue text-content
    hover:bg-button-blue/50 hover:text-white
    active:bg-button-blue/25;
  }

  .btn-cancel {
    @apply bg-button-orange text-white font-medium text-center
    rounded-lg shadow-lg
    px-10 py-2 
    hover:bg-button-orange/50 hover:text-content 
    active:shadow-md active:bg-button-orange/25
    transition-all duration-500 
    cursor-pointer;
  }

  .btn-delete {
    @apply btn-base border-button-red text-content
    hover:bg-button-red/50 hover:text-white hover:shadow-xl
    active:bg-button-red/25;
  }

  .btn-info {
    @apply bg-button-liteblue text-white font-medium text-center
    rounded-lg shadow-lg
    px-10 py-2 
    hover:bg-button-liteblue/50 hover:text-content 
    active:shadow-md active:bg-button-liteblue/25
    transition-all duration-500 
    cursor-pointer;
  }

  .btn-lime {
    @apply bg-button-lime text-white font-medium text-center
    rounded-lg shadow-lg
    px-10 py-2 
    hover:bg-button-lime/50 hover:text-content 
    active:shadow-md active:bg-button-lime/25
    transition-all duration-500 
    cursor-pointer;
  }

  .btn-purple {
    @apply btn-base border-button-purple text-content
    hover:bg-button-purple/50 hover:text-white
    active:bg-button-purple/25;
  }

  .basic-input {
    @apply bg-bkg text-content 
    flex w-full flex-1 rounded-lg 
    focus:shadow-xl focus:border-2 focus:border-blue-500
    focus:ring-0;
  }

  .weekday {
    @apply w-[calc(100%/7)];
  }

  .day {
    @apply w-[calc(100%/7)] 
    font-bold 
    text-center aspect-square 
    flex items-center justify-center 
    cursor-pointer 
    drop-shadow-md 
    hover:bg-scroll_hover
    hover:rounded-full

    transition-all duration-700;
  }

  .row {
    @apply even:bg-secondary-a50 hover:bg-scroll_hover transition-all duration-700;
  }

  .row-plain {
    @apply even:bg-secondary-a50;
  }

  .current-day {
    @apply bg-button-lime rounded-full shadow-2xl bg-button-lime/50;
  }

  .start-date-single {
    @apply bg-secondary-a30 rounded-full shadow-2xl;
  }

  .start-date {
    @apply bg-[#3b82f6] rounded-full shadow-2xl text-custom-white;
  }

  .end-date-single {
    @apply bg-secondary-a10 rounded-full shadow-2xl;
  }

  .end-date {
    @apply bg-[#3b82f6] rounded-full shadow-2xl text-custom-white;
  }

  .between-dates {
    @apply bg-blue-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 0em;
    height: 0em;
  }
}

.toast-error {
  @apply bg-red-500 text-white;
}
.toast-success {
  @apply bg-green-500 text-white;
}
.toast-info {
  @apply bg-blue-400 text-white;
}
.toast-warning {
  @apply bg-orange-500 text-white;
}
